@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
    background: url('./assets/Mask\ group.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    height: 706px;
}
.check-banner{
    background: url('./assets/Untitled@3-1536x735\ 1.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    /* height: 200px; */

}
.ReactCollapse--collapse {
    transition: height 500ms;
  }

